* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  text-decoration: none;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  height: 1000vh;
  background: #202020;
  color: white;
}

.navigation {
  padding: 2rem;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  margin-left: 2rem;
}

.nav-items img {
  border-radius: 50%;
  width: 50px;
}
